*{
    text-decoration: none;
}

.card{
    position: relative;
    width: 12rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    transition: all 200ms ease-in-out;
}

.card:hover{

    transform: scale(1.05);
}


.card .rating{
    position: absolute;
    display: flex;
    gap: .5rem;
    align-items: center;
    top: 0;
    right: 0;
    background-color: black;
    color: #B82601;
    padding: .5rem;
    border-radius: 0 0 0 5px;
    font-weight: 800;
}

.card .ration .icon{
    font-size: 1rem;
}


.card img{
    width: 100%;
}

.card .info{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: #062F4F;
}



.card .info .title{
    font-size: 1rem;
    margin-bottom: .2rem;
    color: white;
}
.card .info .studio{
    margin-top: auto;
    font-weight: bolder;
    font-size: 1rem;
    background-color: #B82601;
    color: black;
    padding: 1rem;
    font-family: "Quicksand",sans-serif;
}


@media only screen and (max-width: 850px) {
    .card{
        width :10rem;
        height: 20rem;
        align-self: center;
    }
    .card .info .title{
        font-size: .8rem;
    }
    .card .info .studio{
        font-size: .9rem;
    }
}